.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .lead {
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .lead {
    padding-bottom: 57px;
  }
}
