.lead__title {
  margin: 0;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    margin-bottom: 32px;
  }
}
