.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
  padding: 33px 16px;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cover:hover .cover__overlay {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .cover {
    margin-top: 45px;
    margin-bottom: 45px;
    min-height: 62.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    max-width: calc(100% - 48px*2);
    min-height: 57.8vw;
  }
}
