@media screen and (min-width: 768px) {
  .places__place {
    display: grid;
    grid-template-columns: 49% 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
    "title website"
    "img text";
    gap: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .places__place {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .places__place {
    gap: 40px;
  }
}

